{% if not user.is_authenticated %}
<nav class="nav_wrapper">
  <span class="nav_heading">Django Store</span>
  <ul class="nav_list">
    <li>
      <a class="nav_link" href="{% url 'home' %}">Home</a>
    </li>
    <li>
      <a class="nav_link" href="{% url 'login' %}">Login</a>
    </li>
    <li>
      <a class="nav_link" href="{% url 'register' %}">Register</a>
    </li>
  </ul>
</nav>
{% else %}
<nav class="nav_wrapper">
  <span class="nav_heading">Django Store</span>
  <ul class="nav_list">
    <li>
      <a class="nav_link" href="{% url 'home' %}">Home</a>
    </li>
    <li>
      <a class="nav_link" href="{% url 'cart' %}">Cart</a>
    </li>
    <li>
      <a class="nav_link" href="{% url 'logout' %}">Logout</a>
    </li>
  </ul>
  <span class="nav_message"
    >Logged in as <span class="nav_message_user">{{user.username}}</span></span
  >
</nav>
{% endif %}
