{% extends 'index.html' %} {% block content %}

<section class="comments_container">
  {% if not post_comments %}
  <h1 class="allPosts_heading">No comments found.</h1>
  <a class="comment_text" href="{% url 'create-comment' post.id %}">Write a comment</a>
  {% else %}
  <h1 class="comments_heading">{{post.post_title}}</h1>
  <span class="postAuthor_comments">By {{post.post_author}}</span>
  <p class="comments_postContent">{{post.post_content}}</p>
  <a class="comment_text" href="{% url 'create-comment' post.id %}">Write a comment</a>
  <section class="comments_section">
    {% for comment in post_comments %}
    <div class="comment_wrapper">
      <div class="comment_details">
        <span class="comment_author">{{comment.commented_by}}</span>
        <span class="comment_date">{{comment.created_at | timesince}} ago.</span>
      </div>
      <p class="comment_content">{{comment.comment_content}}</p>
    </div>
    {% endfor %}
  </section>
  {% endif %} {% endblock content %}
</section>
